# -*- mode: gitignore; -8-
~*
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa